body {
    height: 1000px;
}

#root {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1074&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat, repeat;
}